@page "/"
@using Client.UIComponents;

<PageTitle>Overview</PageTitle>

<h1>Hello there</h1>

Currently, there's nothing here. But you can browse around here for download and changelog or 
<a target="_parent" href="https://github.com/Leayal/PSO2-Launcher-CSharp#readme">read the README.md here.</a>
